{% set call_title = object.call.title if object.call else '' %}
[Deutsch]

Hi!

Wir haben deine Einreichung "{{ object.title }}" für "{{ call_title }}" geprüft und bitten dich, einige Überarbeitungen vorzunehmen.

Kommentar des Teams:

{{ object.moderation_comment }}

Du kannst deine Einreichung unter folgendem Link bearbeiten:

{{ proposal_url }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Das {{ call_title }} Team

================================

[English]

Hi!

We have reviewed your submission "{{ object.title }}" for "{{ call_title }}" and would like to ask you to make some revisions.

Comment from the team:

{{ object.moderation_comment }}

You can edit your submission at the following link:

{{ proposal_url }}

Please don't hesitate to reach out if you have any questions.

The {{ call_title }} Team
